$bg-button-first: #1892FA;
$bg-main: white;
$bg-chip-type-button: #F2F6F7;
$bg-disabled-button:  #F4F4F5;

$br-main: #ecedef;
$br-resolved: #44ff00;

$ft-text-gray: #8C8E97;
$ft-text-not-active: #C4CACF;
$ft-text-active: #191D30;