@font-face {
  font-family: PT Sans;
  src: url(../../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
  font-family: PT Sans bold;
  src: url(../../fonts/PT_Sans-Web-Bold.ttf);
}
@font-face {
  font-family: PT Sans bold italic;
  src: url(../../fonts/PT_Sans-Web-BoldItalic.ttf);
}
@font-face {
  font-family: PT Sans italic;
  src: url(../../fonts/PT_Sans-Web-Italic.ttf);
}